@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 700;
    font-display: swap;
    src:
      local("Pretendard Bold"),
      url("./assets/fonts/Pretendard-Bold.subset.woff2") format("woff2"),
      url("./assets/fonts/Pretendard-Bold.subset.woff") format("woff");
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 600;
    font-display: swap;
    src:
      local("Pretendard SemiBold"),
      url("./assets/fonts/Pretendard-SemiBold.subset.woff2") format("woff2"),
      url("./assets/fonts/Pretendard-SemiBold.subset.woff") format("woff");
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 500;
    font-display: swap;
    src:
      local("Pretendard Medium"),
      url("./assets/fonts/Pretendard-Medium.subset.woff2") format("woff2"),
      url("./assets/fonts/Pretendard-Medium.subset.woff") format("woff");
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 400;
    font-display: swap;
    src:
      local("Pretendard Regular"),
      url("./assets/fonts/Pretendard-Regular.subset.woff2") format("woff2"),
      url("./assets/fonts/Pretendard-Regular.subset.woff") format("woff");
  }

  html {
    background-color: #f2f2f2;
    @media (max-width: 450px) {
      font-size: 15px;
    }
    @media (max-width: 375px) {
      font-size: 12px;
    }
  }

  body {
    @apply bg-background text-foreground;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer components {
  .display1-bold {
    @apply text-[3.5rem] font-bold leading-normal tracking-[-0.01em];
  }
  .display2-medium {
    @apply text-[2.5rem] font-bold leading-normal tracking-[-0.01em];
  }
  .title1-bold {
    @apply text-[2rem] font-bold leading-normal tracking-[-0.01em];
  }
  .title2-bold {
    @apply text-[1.75rem] font-bold leading-normal tracking-[-0.01em];
  }
  .title3-bold {
    @apply text-[1.5rem] font-bold leading-normal tracking-[-0.01em];
  }
  .heading1-bold {
    @apply text-[1.375rem] font-bold leading-normal tracking-[-0.01em];
  }
  .heading1-semibold {
    @apply text-[1.375rem] font-semibold leading-normal tracking-[-0.01em];
  }
  .heading2-bold {
    @apply text-[1.25rem] font-bold leading-normal tracking-[-0.01em];
  }
  .heading2-semibold {
    @apply text-[1.25rem] font-semibold leading-normal tracking-[-0.01em];
  }
  .headline1-bold {
    @apply text-[1.125rem] font-bold leading-normal tracking-[-0.01em];
  }
  .headline2-bold {
    @apply text-[1.0625rem] font-bold leading-normal tracking-[-0.01em];
  }
  .body1-medium {
    @apply text-[1rem] font-medium leading-normal tracking-[-0.01em];
  }
  .body1-regular {
    @apply text-[1rem] font-normal leading-normal tracking-[-0.01em];
  }
  .body2-semibold {
    @apply text-[0.875rem] font-semibold leading-normal tracking-[-0.01em];
  }
  .body2-medium {
    @apply text-[0.875rem] font-medium leading-normal tracking-[-0.01em];
  }
  .body2-regular {
    @apply text-[0.875rem] font-normal leading-normal tracking-[-0.01em];
  }
  .caption-13 {
    @apply text-[0.8125rem] font-normal leading-normal tracking-[-0.02em];
  }
  .caption-12 {
    @apply text-[0.75rem] font-normal leading-normal tracking-[-0.02em];
  }
}

@layer utilities {
  .carousel-item-overlay::after {
    content: "";
    @apply absolute inset-0 bg-black rounded-lg bg-opacity-20;
  }
}

input[type="range"] {
  pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 0.875rem;
  width: 0.875rem;
  border-radius: 50%;
  background-color: #f1efef;
  -webkit-appearance: none;
  pointer-events: auto;
}

.swiper-pagination {
  position: absolute;
  bottom: 60px !important;
  right: 10px;
  width: auto !important;
  margin: 0;
}
.swiper-pagination-bullet {
  padding-top: -20px;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: #626262;
}
.swiper-pagination-bullet-active {
  color: #fff;
  background: #d9d9d9;
}

.thumbnail .swiper-slide {
  border-radius: 5px;
  max-width: 90px;
  /* max-height: 90px; */
  margin-right: 20px;
  img {
    border-radius: 5px;
  }
}

.thumbnail .swiper-slide-thumb-active {
  max-width: 90px;
  /* min-height: 90px; */
  border: 1px solid #ecebe7;
  border-radius: 5px;
}

.change-gender-fillcolor path {
  fill: #e9663a;
}
